.avtaar{
	border-radius: 50%;
	height:40px;
	width: 40px;
	display: inline-block;
	margin-left: -20px;
}
.avtaar img{
	border-radius: 50%;
	height:40px;
	width: 40px;
	/*display: inline-block;*/
	margin-left: -20px;
}
.avtaar1{
	border-radius: 50%;
	height:40px;
	width: 40px;
	display: inline-block;
	margin-left: 100px;
}
.avtaar1 img{
	border-radius: 50%;
	height:40px;
	width: 40px;
	/*display: inline-block;*/
	margin-left: -20px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}